@font-face { font-family: Ricknmorty; src: url('../src/ricknmorty.ttf'); } 

html {
  overflow: hidden;
}

body { 
  margin: 0; 
  height: 100vh;
}

canvas { 
  display: block;
}


h1 {
  width: 100%;
  font-family: Ricknmorty;
  color: #03B0C7;
  // outline: #B2D48F;
  border: none;
  top: 0;
  text-align: center;
  left: 0;
}

.full-page {
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: fixed;
}

#player-container {
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100vw;
  height: 100vh;
  overflow: hidden;
	opacity: 1;
  transition: .2s opacity;
   
   #player {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: max-content;
    width: max-content;
    border: 2px solid lime;
    transition: .2s opacity;
      
        button {
          position: absolute;
          top: 0;
          right: 0;
        }
   }
}

.info-button {
  position: fixed;
  z-index: 2000;
  color: white;
  background-color: navy;
  font-size: 30px;
  right: 0;
  bottom: 0;
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50px 50px;
}

.info-pane {
  position: fixed;
  display: block;
  // margin-left: auto;
  // margin-right: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: max-content;
  width: 500px;
  border: 2px solid lime;
  transition: .2s opacity;
  color: white;
  background-color: #03B0C7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h2 {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    border: none;
    top: auto;
    text-align: center;
    left: auto;
  }
}

#loading-screen {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 1;
 	transition: 1s opacity;
}

#loading-screen.fade-out {
    opacity: 0;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: rgb(147, 255, 23);
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: rgb(255, 255, 255);
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: rgb(51, 255, 0);
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}